body {
  width: 1280px;
  margin: 0 auto;
  font-family: Roboto;
}
a {
  text-decoration: none;
  /* color: #fff; */
}
.container {
  max-width: 100%;
}
header {
  margin-top: 68px;
}
.head_title {
  color: #000;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.head_subtitle {
  color: #4bcaff;
}
nav {
  margin-top: 40px;
  background-color: #35444f;
}
.header_nav {
  display: flex;
}
.nav_item {
  padding: 0 40px 0 40px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-right: #fff 1px solid;
  height: 69px;
}
.nav_item_brdr {
  margin-left: 160px;
  border-left: #fff 1px solid;
}
.nav_title {
  color: #fff;
}
.content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sidebar {
  max-width: 400px;
  border: #000 1px solid;
}
.main_content {
  max-width: 885px;
  display: flex;
  flex-direction: column;
}
.sidebar_item {
  width: 342px;
  height: 81px;
  display: flex;
  align-items: center;
}
.sidebar_title {
  padding: 25px 0 25px 45px;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #485863;
}
.img_container {
  border: #000 1px solid;
  padding: 75px 268px 75px 298px;
}
.main_txt {
  margin-top: 24px;
  color: #2c2c2c;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
p {
  margin-top: 13px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  background: rgba(99, 105, 110, 0.48);
  width: 1280px;
  height: 69px;
}
.ending {
  color: #010101;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_title {
  margin-right: 30px;
  color: #0c1927;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.sidebar_item:hover {
  background-color: #dbdbdb;
  transition: 0.2s linear;
  cursor: pointer;
}
.sidebar_title:hover {color: #000;
  padding-left: 75px;
  transition: 0.2s linear;
}
.main_img:hover {
  transform: scale(1.1);
  transition: 0.2s linear;
  cursor: pointer;
}
.nav_item:hover {
  background-color: #222f3a;
  transition: 0.2s linear;
  cursor: pointer;
}
.footer_title:hover {
  color: #3181a6;
  transition: 0.2s linear;
  text-decoration: underline;
}
